{% extends 'base.html' %}

{% load static %}

{% block title %}{{participant.name}}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h3">{{participant.name}}</h1>
</div>
<p><strong>ID:</strong> {{ participant.id }}</p>
<p><strong>Created:</strong> {{ participant.created }}</p>
<p><strong>Is Active:</strong> {% if participant.isActive == 1 %}True{% else %}False{% endif %}</p>
<br>
<div class="d-flex justify-content-between">
    <a href="" class="btn btn-sm btn-info"><i class="ti ti-edit"></i> Update</a>
    {% if participant.isActive == 1 %}
    <a href="{% url "update-participant-activity" name=participant.name activity='false' %}" class="btn btn-sm btn-danger"><i class="ti ti-power"></i> Deactivate</a>
    {% else %}
    <a href="{% url "update-participant-activity" name=participant.name activity='true' %}" class="btn btn-sm btn-success"><i class="ti ti-activity"></i> Activate</a>
    {% endif %}
</div>
<hr class="mt-5">
<div class="d-flex justify-content-between">
    <h5>Accounts</h5>
    <a href="{% url "create-participant-account" name=participant.name %}" class="btn btn-sm btn-info"><i class="ti ti-circle-plus"></i> Add</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Ledger Account Type</th>
            <th>Currency</th>
            <th>Is Active</th>
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for account in participant.accounts %}
        <tr>
            <td>{{ account.ledgerAccountType }}</td>
            <td>{{ account.currency }}</td>
            <td>{% if account.isActive == 1 %}True{% else %}False{% endif %}</td>
            <td>{{ account.createdDate }}</td>
            <td>
                {% if account.isActive == 1 %}
                <a href="{% url 'record-participant-transfer'  name=participant.name id=account.id %}" class="btn btn-sm btn-secondary my-1"><i class="ti ti-pencil"></i> Record Transfer</a>
                <a href="{% url "update-account-activity" name=participant.name id=account.id activity='false' %}" class="btn btn-sm btn-danger"><i class="ti ti-power"></i> Deactivate</a>
                {% else %}
                <a href="{% url "update-account-activity" name=participant.name id=account.id activity='true' %}" class="btn btn-sm btn-success"><i class="ti ti-activity"></i> Activate</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<div class="d-flex justify-content-between">
    <h5>Limits</h5>
    <a href="{% url "create-participant-limit" name=participant.name %}" class="btn btn-sm btn-info"><i class="ti ti-circle-plus"></i> Add</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Currency</th>
            <th>Value</th>
            <th>Alarm Percentage</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for limit in limits %}
        <tr>
            <td>{{ limit.limit.type }}</td>
            <td>{{ limit.currency }}</td>
            <td>{{ limit.limit.value }}</td>
            <td>{{ limit.limit.alarmPercentage }}</td>
            <td><a href="{% url "update-participant-limit" name=participant.name limit_type=limit.limit.type %}" class="btn btn-sm btn-info"><i class="ti ti-edit"></i> Update</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<div class="d-flex justify-content-between">
    <h5>Endpoints</h5>
    <a href="{% url "create-participant-endpoint" name=participant.name %}" class="btn btn-sm btn-info"><i class="ti ti-circle-plus"></i> Add</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for endpoint in endpoints %}
        <tr>
            <td>{{ endpoint.type }}</td>
            <td>{{ endpoint.value }}</td>
            <td><a href="{% url "update-participant-endpoint" name=participant.name endpoint_type=endpoint.type %}" class="btn btn-sm btn-info"><i class="ti ti-edit"></i> Update</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}