{% extends 'base.html' %}

{% load static %}

{% block title %}Participants{% endblock %}

{% block content %}
<div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
    <div class="card-body px-4 py-3">
      <div class="row align-items-center">
        <div class="col-9">
          <h4 class="fw-semibold mb-8">Participants</h4>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a class="text-muted text-decoration-none" href="{% url "dashboard" %}">Home</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">Participants</li>
            </ol>
          </nav>
        </div>
        <div class="col-3">
          <div class="text-center mb-n5">
            <img src="../assets/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4">
          </div>
        </div>
      </div>
    </div>
</div>

<div class="datatables">
  <!-- basic table -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table id="scroll_hor" class="table border table-striped table-bordered text-nowrap">
              <thead>
                <!-- start row -->
                <tr>
                  <th>Name</th>
                  <th>Created</th>
                  <th>Activity</th>
                  <th>Accounts</th>
                  <th>Actions</th>
                </tr>
                <!-- end row -->
              </thead>
              <tbody>
                {% for participant in participants %}
                  <tr>
                      <td><a href="{% url 'get-participant' participant.name %}" class="">{{participant.name}}</a></td>
                      <td>{{participant.created}}</td>
                      <td>{% if participant.isActive == 1 %}Enabled{% else %}Disabled{% endif %}</td>
                      <td>{% for account in participant.accounts %}{{account.ledgerAccountType}}, {% endfor %}</td>
                      <td></td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('datatable').DataTable();
</script>

{% endblock %}