{% extends 'base.html' %}

{% block title %}Add participant{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h3">{{participant.name}}</h1>
    
</div>
<div>
    <h3 class="h5">Created: {{participant.created}}</h3>
    <h3 class="h5">Activity: {% if participant.isActive == 1 %}Enabled{% else %}Disabled{% endif %}</h3>
</div>
<table class="table table-bordered">
    <th colspan="3">Accounts</th>
    <tr>
      <td>This is row one, column 1</td>
      <td>This is row one, column 2</td>
    </tr>
  </table>
{% endblock %}