{% extends 'base.html' %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}

  <div class="row mb-4">
    <div class="col-lg-12 col-md-6">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="file-datatable" class="table table-bordered text-nowrap key-buttons border-bottom">
                      <thead>
                        <!-- start row -->
                        <tr>
                          <th>Name</th>
                          <th>Currency</th>
                          <th>Type</th>
                          <th>Value</th>
                          <th>Alarm Percentage</th>
                          <th>Actions</th>
                      </tr>
                        <!-- end row -->
                      </thead>
                      <tbody>
                          {% for participant in participants %}
                          <tr>
                              <td><a href="{% url 'get-participant' participant.name %}" class="">{{participant.name}}</a></td>
                              <td>{{participant.currency}}</td>
                              <td>{{participant.limit.type}}</td>
                              <td>{{participant.limit.value}}</td>
                              <td>{{participant.limit.alarmPercentage}}</td>
                              <td><a href="{% url "update-participant-limit" name=participant.name limit_type=participant.limit.type %}" class="btn btn-sm btn-info"><i class="ti ti-edit"></i> Update</a></td>        
                          </tr>
                          {% endfor %}
        
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
<script>
  $('datatable').DataTable();
</script>
{% endblock %}