{% extends 'base.html' %}

{% load static %}

{% block title %}Settlement Model {{ settlementmodel.name }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h3">{{ settlementmodel.name }}</h1>
</div>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Settlement Model ID</th>
            <td colspan="5">{{ settlementmodel.settlementModelId }}</td>
        </tr>
        <tr>
            <th scope="row">Is Active</th>
            <td colspan="5">{% if settlementmodel.isActive == 1 %}True{% else %}False{% endif %}</td>
        </tr>
        <tr>
            <th scope="row">Settlement Granularity</th>
            <td colspan="5">{{ settlementmodel.settlementGranularity }}</td>
        </tr>
        <tr>
            <th scope="row">Settlement Interchange</th>
            <td colspan="5">{{ settlementmodel.settlementInterchange }}</td>
        </tr>
        <tr>
            <th scope="row">Settlement Delay</th>
            <td colspan="5">{{ settlementmodel.settlementDelay }}</td>
        </tr>
        <tr>
            <th scope="row">Require Liquidity Check</th>
            <td colspan="5">{{ settlementmodel.requireLiquidityCheck }}</td>
        </tr>
        <tr>
            <th scope="row">Ledger Account Type ID</th>
            <td colspan="5">{{ settlementmodel.ledgerAccountTypeId }}</td>
        </tr>
        <tr>
            <th scope="row">Auto Position Reset</th>
            <td colspan="5">{{ settlementmodel.autoPositionReset }}</td>
        </tr>
    </tbody>
</table>
<br>
<div class="d-flex justify-content-between">
    <a href="" class="btn btn-sm btn-info"><i class="ti ti-edit"></i> Update</a>
    {% if settlementmodel.isActive == 1 %}
    <a href="{% url "update-settlement-model-activity" name=settlementmodel.name activity='false' %}" class="btn btn-sm btn-danger"><i class="ti ti-power"></i> Deactivate</a>
    {% else %}
    <a href="{% url "update-settlement-model-activity" name=settlementmodel.name activity='true' %}" class="btn btn-sm btn-success"><i class="ti ti-activity"></i> Activate</a>
    {% endif %}
</div>
<br>

{% endblock %}